*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{

    background-size: cover;
    background-image: url(../recursos/fondo.jpg);
    
}

#contenedor{

    position: relative;

}

#fondo{

    width: 800px;
    height: 500px;
    background-color: white;
    position: absolute;
    margin-top: 5%;
    left: 14.5%;
    
}

.foto1{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.foto4{

    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.foto3{

    float: left;
    margin-top: -15px;
    margin-left: 10px;
    
}

.foto2{
    float: right;
    margin-right: 10px;
    margin-top: -133.5px;
}

