*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{

    background-size: cover;
    background-image: url(../recursos/fondo.jpg);
    
}

#contenedor{

    position: relative;

}

#imagenes{
    position: relative;
}

#botonConoceMas{

    position: absolute;
    margin-left: 46%;
    margin-top: 37%;
    background-color: rgb(200, 199, 199);
   
}

#fondo{

    width: 800px;
    height: 500px;
    background-color: white;
    position: absolute;
    margin-top: 5%;
    left: 14.5%;
    
}

.foto1{
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.foto4{
    position: relative;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

.foto3{
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
}

.foto2{
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: -269px;    
}

.foto5{
    position: relative;
    float: right;
    margin-right: 233px;
    margin-top: 138px;
}

.foto1:hover,.foto2:hover,.foto3:hover,.foto4:hover,.foto5:hover{

    background-color: black;
    transform: scale(1.1);
    transition: 250ms;
    z-index: 10;

}

h2{
    position: absolute;
    margin-top: 26%;
    margin-left: 39%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

#botonesCambioFondo{
    
    position: absolute;
    margin-left: 44.75%;
    margin-top: 30%;
    width: 120px;
    height: 45px;
    
      
}
.boton{
    float: left;
    width:50px;
    height: 15px;
    margin: 4px;
    font-size: 1px;
}

button{

    font-family: 'Montserrat', sans-serif;
    background: none;
    
    border-radius: 5px;
    padding: 5px;
    border-color: rgb(207, 207, 207);
}
#botonColorRojo{
    background-color: rgb(203, 32, 32);
    color: rgb(203, 32, 32);
    
    
}
#botonColorAmarillo{
    background-color: rgb(255, 187, 0);
    color: rgb(255, 187, 0);
    
}
#botonColorAzul{
    background-color: rgb(17, 70, 246);
    color: rgb(17, 70, 246);
    
}
#botonColorBlanco{
    background-color: white;
    color: white;
    
}